<div class="article col col-4 col-d-6 col-t-12">
  <div class="article__inner">

    {{ if .Params.Image }}
      <div class="image-wrap">
        <a class="article__image" href="{{ .RelPermalink }}">
          <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title | safeHTML }}">
        </a>
        <div class="col col-12">
          {{ if .Params.image_caption }}
          <div class="post-image__caption">
            {{ .Params.image_caption | safeHTML }}
          </div>
          {{ end }}
        </div>
      </div>
    {{ end }}

    <div class="article__content">

      {{ if .Params.tags }}
      <div class="article-tags__box">
        {{ range ($.GetTerms "tags") }}
        <a href="{{ .Permalink }}" class="article__tag">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
      {{ end }}

      <h2 class="article__title">
        <a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a>
      </h2>

      <p class="article__excerpt">{{ if .Description }}{{ .Description }}{{ else }}{{ truncate 75 .Summary | safeHTML }}{{ end }}</p>

      <div class="article__meta">
        {{ if .Params.author_link }}
        <a href="{{ .Params.author_link }}" class="post__author-image">
          {{ if .Params.author_avatar }}
            <img class="lazy" data-src="{{ .Params.author_avatar }}" alt="{{ .Params.author }}">
          {{ else }}
            <img class="lazy" data-src="{{ .Site.Params.author.author__avatar }}" alt="{{.Site.Params.author.author__name}}">
          {{ end }}
        </a>
        <div class="post__author-info">
          <a href="{{ .Params.author_link }}" class="post__author-link">{{ .Params.author | safeHTML }}</a>
          <span class="post__date"><time class="post__date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{
              .Date.Format "2 Jan 2006" }}</time></span>
              {{ if .Params.author_twitter}}
              <span><a href="https://twitter.com/{{.Params.author_twitter}}"><img class="lazy" data-src="/images/twit-32.png" alt="@{{.Params.author_twitter}}"></a></span>
              {{ end }}
        </div>
        {{ else }}
        <a href="/about/" class="post__author-image">
          {{ if .Params.author_avatar }}
          <img class="lazy" data-src="{{ .Params.author_avatar }}" alt="{{ .Params.author }}">
          {{ else }}
          <img class="lazy" data-src="{{ .Site.Params.author.author__avatar }}" alt="{{.Site.Params.author.author__name}}">
          {{ end }}
        </a>
        <div class="post__author-info">
          <a href="/about/" class="post__author-link">{{ .Params.author | safeHTML }}</a>
          <span class="post__date"><time class="post__date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{
              .Date.Format "2 Jan 2006" }}</time></span>
              {{ if .Params.author_twitter}}
              <span><a href="https://twitter.com/{{.Params.author_twitter}}"><img class="lazy"
                    data-src="/images/twit-32.png" alt="@{{.Params.author_twitter}}"></a></span>
              {{ end }}
        </div>
        {{ end }}
      </div>

    </div>
  </div>
</div>