{{ if .Site.Params.projects.enable }}
<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ .Site.Params.projects.projects__title | safeHTML }}</h2>
              <a class="section__link" href="/projects">View all <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            {{ if .Site.Params.projects.projects__description }}
              <p class="section__description">{{ .Site.Params.projects.projects__description }}</p>
            {{ end }}
          </div>

          <div class="row">
            {{ range (where .Site.RegularPages "Section" "projects" | first 6 ) }}
            <article class="project col col-4 col-d-6 col-t-12">
              <div class="project__content">
                <a href="{{ .RelPermalink }}" class="project__image">
                  <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Params.Title }}">
                </a>
                <div class="project__info">
                  <div class="project__info-wrap">
                    <h3 class="project__title">{{ .Params.title }}</h3>
                  </div>
                  <div class="project__info-wrap">
                    {{ if .Params.subtitle }}
                      <div class="project__subtitle">{{ .Params.subtitle }} –</div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </article>
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end projects -->
{{ end }}