{{ if .Site.Params.testimonials.enable }}
<!-- begin testimonials -->
<section class="section testimonials">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ .Site.Params.testimonials.testimonial__title | safeHTML }}</h2>
            <ul class="controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
              <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-back"></i>
              </li>
              <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
                <i class="ion ion-ios-arrow-forward"></i>
              </li>
            </ul>
          </div>
          {{ if .Site.Params.testimonials.testimonial__description }}
            <p class="section__description">{{ .Site.Params.testimonials.testimonial__description }}</p>
          {{ end }}
        </div>

        <div class="testimonials__slider my-slider">
        {{ with .Site.Params.testimonial_item }}
          {{ range . }}
            <div class="testimonial-item">
              <div class="testimonial-content">
                {{ if .content }}
                  <p class="client-text">{{ .content }}</p>
                {{ end }}
                <div class="client-meta">
                  {{ if .image }}
                    <div class="image-container">
                      <img class="client-avatar" src="{{ .image }}" alt="{{ .name }}">
                    </div>
                  {{ end }}
                  <div class="client-info">
                    {{ if .name }}
                      <h3 class="client-name">{{ .name }}</h3>
                    {{ end }}
                    {{ if .designation }}
                      <p class="client-designation">{{ .designation }}</p>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
        </div>

      </div>
    </div>
  </div>
</section>
<!-- end testimonials -->
{{ end }}