{{ if .Site.Params.mailchimp.enable }}
<!-- begin subscribe -->
<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">{{ .Site.Params.mailchimp.mailchimp__title | safeHTML }}</h3>
            <div class="subscribe__subtitle">
              <span class="typer" id="typer-js" data-words="{{ .Site.Params.mailchimp.mailchimp__text }}" data-delay="80" data-deleteDelay="1500"></span>
              <span class="cursor" data-cursorDisplay="|" data-owner="typer-js"></span>
            </div>
          </div>

          <form class="subscribe-form validate" action="{{ if .Site.Params.mailchimp.mailchimp__identifier }}//{{.Site.Params.mailchimp.mailchimp__identifier}}{{ else }}#{{ end }}" method="POST"
            id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
            <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
            <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
              placeholder="Your email address">
            <button class="button button--big subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{ .Site.Params.mailchimp.mailchimp__button__text }}</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->
{{ end }}