<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__inner">

          <div class="author__left">
            <h1 class="author__name">{{ .Site.Params.author.author__title | safeHTML }}</h1>
            <p class="author__bio">{{ .Site.Params.author.author__bio | markdownify }}</p>
            {{ if .Site.Params.projects.enable }}
            <a class="author__btn" href="#projects">
              <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ .Site.Params.author.button__text }}
            </a>
            {{ end }}
          </div>

          <div class="author__right">
            <div class="author__image">
              <img class="lazy" data-src="{{ .Site.Params.author.author__image }}" alt="{{.Site.Params.author.author__name}}'s Picture">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->