<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<style>
  .custom-file-input.selected:lang(en)::after {
    content: "" !important;
  }

  .image-caption {
    display: none !important;
  }

  .custom-file {
    overflow: hidden;
  }

  .custom-file-input {
    white-space: nowrap;
  }

  .pill {
    font-size: 12px;
    font-family: "Readex Pro", sans-serif;
    padding: 5px 10px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: -1px;
    margin-bottom: 5px;
    border-radius: 100px;
    font-size: 14px;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
  }

  .pill:not(.pill--selected):hover {
    background: #cccccc;
  }

  .pill--selected {
    background: #009578;
    color: #ffffff;
  }

  .pill--purple {
    font-size: 12px;
    font-family: "Readex Pro", sans-serif;
    padding: 5px 10px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: -1px;
    margin-bottom: 5px;
    border-radius: 100px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(135deg, #4235d0 38%, #f969cd 100%);
    color: #ffffff;
  }

  .form-label-pos {
    position: absolute;
    margin-left: 20px;
  }

  .image-div-format {
    width: 200px !important;
    padding-top: 25px !important;
  }

  .close-pos {
    margin-top: 2px;
    position: absolute;
    margin-left: 150px;
  }

  .upload-image {
    width: 30%;
    display: inline-block;
  }

  .header-image-div-format {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-top: 25px;
    background-color: #ffffff;
    object-fit: cover;
    user-select: none;
  }

  .avatar-image-div-format {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    padding-top: 25px;
    background-color: #ffffff;
    display: inline-block;
  }
  .close-pos-header {
    margin-top: 2px;
    position: absolute;
    margin-left: 10px;
  }

  .use-pos {
    margin-top: 2px;
    position: absolute;
    margin-right: 2px;
  }

  .close {
    position: relative;
    right: 10px;
    top: 7px;
    width: 6px;
    height: 6px;
    opacity: 1;
    z-index: 99;
    cursor: pointer;
  }

  .close:hover {
    opacity: 0.3;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 20px;
    content: ' ';
    height: 8px;
    width: 2px;
    background-color: #ffffff;
    cursor: pointer;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
</style>
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<h2><span class='text-span'>Time</span> to tell your story</h2>
<p><span class='text-span'>Use</span> the form below to create a new story. You can use the editor to format your story
  and add images.</p>
<p><span class='text-span'>These</span> first few fields are mandatory so please fill them out completely. As you fill out the fields, disabled fields will automatically become available.</p>
<form id="storyForm" name="storyForm" class="row g-3 needs-validation" novalidate onsubmit=submitForm()>
  <!-- Title -->
  <div class="form-floating col-md-6" data-bs-toggle="This will also be the 'slug' for your post">
    <input type="text" class="form-control" id="titleInput" placeholder="The title of your story"
      aria-describedby="titleHelpBlock" required oninput=enableNextField(this)
      data-bs-toggle="This will also be the 'slug' for your post">
    </input>
    <label for="titleInput" data-bs-toggle="This will also be the 'slug' for your post">Post Title
    </label>
    <div id="titleHelpBlock" class="form-text">
      Give your story a compelling title. This field is <strong>required.</strong>
    </div>
  </div>
  <!-- Description -->
  <div class="form-floating col-md-6">
    <input type="text" class="form-control" id="descriptionInput" placeholder="Describe your story"
      aria-describedby="descriptionHelpBlock" required disabled oninput=enableNextField(this)>
    <label for="descriptionInput">Post Description
    </label>
    <div id="descriptionHelpBlock" class="form-text">
      Give your story a brief description. This field is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      You must provide a description for your story.
    </div>
  </div>
  <!-- Name -->
  <div class="form-floating col-md-12">
    <input type="text" class="form-control" id="nameInput" placeholder="Your name or pseudonym"
      aria-describedby="nameHelpBlock" required disabled oninput=enableNextField(this)>
    </input>
    <label for="nameInput">Name or Pseudonym</label>
    <div id="nameHelpBlock" class="form-text">
      You do <strong>not</strong> have to supply your real name. Please feel free to use an anonymous pseudonym if you
      wish.
    </div>
    <div class="invalid-feedback">
      You must provide either your real name or a pseudonym before submitting.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <!-- Tags -->
  <div class="form-floating col-md-12">
    <input type="text" class="form-control" id="tagsInput" placeholder="Tags" aria-describedby="tagsHelpBlock"
      oninput=addPill() disabled oninput=enableNextField(this) onblur=addLastPill()>
    </input>
    <label for="tagsInput">Tags (i.e. 'mental health' or 'redemption story')</label>
    <div id="tagsHelpBlock" class="form-text">
      Enter a comma-separated list of tags for your story. These will be used to help people find your story.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="form-floating col-md-12" id="tags-div">
    </div>
  </div>
  <!-- Header Image -->
  <div class="input-group input-group-lg col-md-12">
    <label for="headerFileInput" class="form-label"><h3>Choose a header image</h3></label>
  </div>
  <div class="input-group input-group-lg col-md-12">
    <input
      type="file"
      class="form-control"
      id="headerFileInput"
      aria-describedby="headerImageHelpBlock"
      required
      disabled
      onchange=setImage(header)
      oninput=enableNextField(this)
      accept="image/*">
    </input>
    <div class="invalid-feedback">
      You must provide a header image for your story.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>

  </div>
   <div
      id="headerImageHelpBlock"
      class="form-text">
        Choose an image you'd like to use as the header-image for your story.
        (We use <a href="https://unsplash.com/" target="_blank">Unsplash</a> for our images.)
    </div>
  <div
      id="header-image"
      class="col-md-12">
  </div>
  <!-- Header image caption -->
  <div id="headerImageCaption" class="form-floating col-md-12" >
    <input type="text" class="form-control" id="captionInput" placeholder="Header Image Caption"
     aria-describedby="captionHelpBlock" required disabled oninput=enableNextField(this)>
    </input>
    <label for="captionInput">Caption</label>
    <div id="captionHelpBlock" class="form-text">
    This will be the caption for your neader image. You may use simple html here.
    </div>
    <div class="invalid-feedback">
      You must provide either your real name or a pseudonym before submitting.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <!-- Post Images -->
  <div class="input-group input-group-lg col-md-12">
    <label for="postFileInput" class="form-label"><h3>Choose any images you'd like to include</h3></label>
  </div>
  <div class="input-group input-group-lg col-md-12">
    <input
      type="file"
      class="form-control"
      id="postFileInput"
      aria-describedby="postImageHelpBlock"
      onchange=setImage(post)
      disabled
      accept="image/*">
    </input>
    <div class="valid-feedback">
      Looks good!
    </div>

  </div>
   <div
      id="postImageHelpBlock"
      class="form-text">
        Add images that you'd like to add to your story. You can add as many images as you would like.
        (We use <a href="https://unsplash.com/" target="_blank">Unsplash</a> for our images.)
    </div>
  <div
      id="post-image"
      class="col-md-12">
  </div>
  <h2><span class='text-span'>Your</span> story</h2>
  <!-- Post Content -->
  <div class="form-floating col-md-12">
    <textarea id="mde-input" required disabled oninput=enableNextField(this)>
    </textarea>
    <div class="invalid-feedback">
      You must provide a story.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div id="storyHeaderHelpBlock" class="form-text">
      Write your story here in Markdown. The browser will autosave the contents for you so you don't have to worry about
      losing your work. When you're happy with your story, click the submit button.
    </div>
  </div>
  <div class="form-floating col-md-12">
    <span class='text-span'>The</span> following fields are <strong>not</strong> required.
  </div>
  <!-- email, if any -->
  <div class="form-floating col-md-6">
    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com"
      aria-describedby="emailHelpBlock">
    </input>
    <label for="emailInput">Email address</label>
    <div id="emailHelpBlock" class="form-text">
      You do <strong>not</strong> have to supply your email address. If you do, we will never share it with anyone
      else.
    </div>
  </div>
  <!-- Twitter Input -->
  <div class="form-floating col-md-6">
    <label for="twitterUsername" class="form-label">Twitter Handle</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="twitterUsername" aria-describedby="twitterUsernameHelpBlock">
      </input>
      <div id="twitterUsernameHelpBlock" class="form-text">
        You do <strong>not</strong> have to supply your twitter handle. If you do, we will link your submission to
        your
        twitter account.
      </div>
    </div>
  </div>
  <!-- Website Input -->
  <div class="form-floating col-md-12">
    <input type="url" class="form-control" id="webInput" placeholder="Your website" aria-describedby="webHelpBlock">
    </input>
    <label for="webInput">Your website</label>
    <div id="webHelpBlock" class="form-text">
      You do <strong>not</strong> have to supply this. If you do, we will link your submission back to this address.
    </div>
  </div>
  <!-- user avatar -->
  <div class="input-group input-group-lg col-md-12">
    <input
      type="file"
      class="form-control"
      id="avatarFileInput"
      aria-describedby="avatarImageHelpBlock"
      imgType="avatar"
      onchange=setImage(avatar)
      accept="image/*">
    </input>
  </div>
   <div
      id="avatarImageHelpBlock"
      class="form-text">
        Choose an image you'd like to use as your 'avatar'. This will be displayed next to your submission.
    </div>
  <div
      id="avatar-image"
      class="col-md-12">
  </div>
  <!-- Consent and submit/clear section -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="form-floating col-md-8">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="reverseCheck1" onchange=checkCOC()>
        </input>
        <label class="form-check-label" for="reverseCheck1">
          I have read and agree to the <a href="/code_of_conduct" target="_blank">Code of Conduct</a> and <a
            href="/privacy_policy" target="_blank">Privacy Policy</a>.
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-floating col-md-2">
      <button id="submitButton" class="btn btn-primary me-md-2" type="submit" disabled>Submit</button>
    </div>
    <div class="form-floating col-md-2">
      <button class="btn btn-danger" type="button" onClick=clearForm()>Clear</button>
    </div>
  </div>
</form>
