
<style>
  .video-div {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
    align-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background: linear-gradient(135deg, #4235d0 38%, #f969cd 100%);
    width: 100%;
    height: 100%;
  }
</style>
<div class="container" style="height: 780px;">
  <div id="player-wrapper" class="{{ .Get 1 }}"></div>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"
>
</script>

<script>
  var playerElement = document.getElementById("player-wrapper");

  var player = new Clappr.Player({
    source: {{ .Get 0 }},
    mute: true,
    height: 740,
    width: 640
  });

  player.attachTo(playerElement);
</script>